
        .grid-container>*{
            text-align: center;
            border-radius: 15px;
            padding: 10px;
        }
        .header{
            grid-area: header;;
        }
        .navbar{
            grid-area: navbar;
        }
        .division{
            grid-area: division;
    }
        .sidebar{
            grid-area: sidebar;
            background-color: cadetblue;
        }
        .articulo{
            grid-area: articulo;
            background-color: coral;
        }
        .footer{
            grid-area: footer;
        }
        /* responsivo */
.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "navbar"
        "division"
        "imgs"
        "articulo"
        "footer";
}

@media (min-width: 768px){
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "navbar"
            "division"
            "imgs"
            "articulo"
            "footer";
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "navbar navbar"
            "division division"
            "imgs imgs"
            "articulo articulo"
            "footer footer";
    }



body {
    background-color: #8A2BE2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 233, 255);
}
.titulo {
    text-align: center;
}

.titulo::after {
    content: "📽️";
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

nav {
    text-align: right;
    font-size: large;
    word-spacing: 10px;
}

.navegacion-fondo {
    background-color: #A88BBD;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
    
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: #8A2BE2;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.navegacion-principal a:hover { /* Cambiar Fondo cuando el mouse se coloca encima*/
    background-color: white;
    color: #8A2BE2;
    
    }

.card{
    background-color: rgb(191, 157, 223);
    width: 350px;
    height: 380px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.contenedor-fila{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-wrap: wrap;
}

img{
    border-radius: 5px;
    height: 170px;
    width: 250px;
}
.descripcion-producto{
    font-weight: bold;
}
.boton-agregar{
    background-color: rgb(191, 157, 223);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid blueviolet;
    font-weight: bold;
    font-size: 1.03rem;
}
.boton-agregar:hover{
    background-color: blueviolet;
    color: aliceblue;
}
.precio-producto{
    font-weight: bold;
    font-size: 1.1rem;
}
}

.derechos-reservados{
    text-align: center;
}
        
   